<article class="post">
    <div class="card-header">
            <div><a href="/post/{{id}}" class="links">{{title}}</a> </div>
            <div id="posted">Posted by <b>{{user.username}} </b> on <b>{{formatDate created_at}}</b></div>
    </div>
    <div class="content-section">
        <p>{{content}}</p>
    </div>
    </div>
</article>